.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 4px;
    vertical-align: middle;
    margin-right: 0px !important;
    margin-left: 1px !important;
}

.column {
    flex: 24.5%;
    max-width: 24.5%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 839px) {
    .column {
        flex: 48%;
        max-width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 99.5%;
        max-width: 99.5%;
    }
}